/* CLASS SELECTOR */

/* .h1-css {
  color: red;
}

.h1-html {
  color: orange;
}

.li1-css {
  color: aquamarine;
}
.li2-css {
  color: bisque;
}
.li3-css {
  color: blue;
}

.li1-html {
  color: darkcyan;
}
.li2-html {
  color: red;
}
.li3-html {
  color: darkgoldenrod;
} */

/* SELECTOR ID */

/* #h1-minuman {
  color: red;
}

#li1-minuman {
  color: salmon;
}
#li2-minuman {
  color: pink;
}
#li3-minuman {
  color: coral;
}
#li4-minuman {
  color: goldenrod;
} */

/* SELECTOR ATRIBUTE */

/* [href] {
  color: chocolate;
} */
/* [title="kota bandung"],
[title="kota makassar"] {
  color: green;
} */

/* GROUP SELECTOR */
/* .h1-css,
#h2-header,
[title="paragraf"] {
  color: blue;
} */

/* Descendas Selector */
/* p em {
  color: red;
}

p strong {
  color: pink;
}
div h1 {
  color: salmon;
}

div .satu {
  color: brown;
  background-color: aliceblue;
}

div .dua {
  color: azure;
  background-color: aquamarine;
} */

/* || CHILD SELECTOR || */
/* div article > p {
  color: burlywood;
} */

/* ol ul > li {
  color: brown;
} */

/* || ADJACENT SELECTOR || */

/* h2 + p {
  color: green;
  background-color: yellow;
} */

/* div h2 {
  color: salmon;
}

div + h2 {
  color: goldenrod;
} */

/* || GENERAL SIBLING SELECTOR || */

/* h2 ~ p {
  color: goldenrod;
} */

/* *|| PSEUDO CLASS ||* */

/* || Dynamic Pseudo Class Selector || */
/* || LINK || */

/* :link {
  color: black;
}
:visited {
  color: navajowhite;
}

h2:hover {
  color: darkcyan;
}

a:hover {
  color: silver;
}

a:active {
  color: yellow;
} */

/* input:focus {
  border: solid goldenrod 3px;
  outline: none;
} */

/* UI ELEMENT STATE PSEUDO CLASS SELECTOR */
/* input:focus {
  border: solid pink 3px;
  outline: none;
} */

/* input:disabled {
  border: solid green 3px;
}
input:enabled {
  border: solid yellow 3px;
}
input:checked {
  margin-left: 100px;
} */

/* *||STRUCKTURAL PSEDUO CLASS SELECTORS||* */
/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  width: 150px;
  height: 30px;
  padding: 0 10px;
  font-size: 10px;
  margin-left: 50px;
  line-height: 30px;
} */

/* first-child dan last-child */
/* li:first-child {
  background-color: magenta;
}

li:last-child {
  background-color: aqua;
} */

/* p:first-child {
  color: antiquewhite;
} */

/* first-of-type dan last-of-type */
/* p:first-of-type {
  color: orangered;
} */

/* Pseudo Selector :nth-child() dan :nth-last-child() */
/* li:nth-child(2) {
  background-color: antiquewhite;
}
li:nth-child(9) {
  background-color: aqua;
}
li:nth-last-child(even) {
  background-color: beige;
}
li:nth-last-child(odd) {
  background-color: salmon;
} */

/* :nth-of-type() dan :nth-last-of-type() */
/* p:nth-of-type(3) {
  color: rebeccapurple;
}

p:nth-of-type(5) {
  color: blue;
}

p:nth-of-type(7) {
  color: salmon;
} */

/* || not() || */
/* p:not(.tes) {
  color: orange;
} */

/* Pseudo Element Selector ::first-line */
p::first-line {
  color: yellowgreen;
}

/* Pseusdo Element Selector ::first-letter */
/* p::first-letter {
  color: salmon;
  font-size: 2em;
} */

/* Pseusdo Element Selector ::before dan ::after */
p::before {
  content: "Sejarah";
}

P::after {
  content: "Indonesia";
}
